*{
    margin: 0;
    padding: 0;
}
body{
    background: #F3F5FC;
}
header{
    width: 100%;
    height: 100px;
    /* background-color: black; */
}
#logo{
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}
main{
    width: 100%;
    height: 650px;
    /* background-color: rgb(68, 21, 21); */
    display: flex;
    justify-content: space-between;
}
section{
    width: 40%;
    height: 100%;
    /* background-color: green; */
}
.seccion1{
    width: 70%;
    margin-left: 100px;
}
.area-texto{
    width: 60%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 25px;
    border: none;
}
#area-texto{
    border-radius: 14px;
    margin-left: 10em;
    padding: 20px;
    outline: none;
    background-color: #F3F5FC;
}
.boton-encriptar, .boton-desencriptar{
    width: 20%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 14px;
    border: none;   
    cursor: pointer; 
}
.botones{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
#aviso{
    margin-right: 15em;
    font-size: 15px;
    color: #0A3871;
}
#boton1{
    background-color: #0A3871;
    color: white;
    margin-right: 5em;
}
#boton1:hover{
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}
#boton2{
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}
#boton2:hover{
    background-color: #0A3871;
    color: white;
}
.seccion2{
    width: 20%;
    background: white;
    border-radius: 24px;
    margin-right: 200px;
    box-sizing: border-box;
    overflow: hidden;
    
}
.imagen{   
    padding-top: 5em;
    box-sizing: border-box;     
}
#imagen{
    margin-left: 20px;
    width: 90%;
    height: 90%;
}
.subtitulo{
    width: 100%;
    height: 20%;
    text-align: center;
}
.texto{
    width: 100%;
    height: 20%;
    text-align: center;
}
.resultado{
    width: 100%;
    height: 20%;
    box-sizing: border-box;  
}
#resultado{
    text-align: center;
    margin-top: -4em;
    width: 100%;
    height: 200%;
    font-size: 20px;
    border: none;
    resize: none;
    outline: none;
}
.copiar{
    margin-top: 12em;
    width: 100%;
    height: 20%;
}
.boton-copiar{
    width: 65%;
    height: 50px;
    font-size: 17px;
    border-radius: 14px;
    display: block;
    margin: auto;
    cursor: pointer;
}
#copiar{
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;  
}
#copiar:hover{
    background-color: #0A3871;
    color: white;
}
footer{
    width: 100%;
    height: 64px;
    /* background-color: blue; */
    text-align: center;
}
#footer{
    padding-top: 2em;
    font-size: 15px;
    color: #0A3871;
}
@media (max-width: 768px) {
    /* reglas para pantallas de tamaño tablet o menores */
  
    /* Ajusta el tamaño del logo */
    #logo {
      width: 4%;
      height: auto;
    }
  
    /* Ajusta el tamaño del textarea */
    #area-texto {
      width: 80%;
    }
  
    /* Ajusta el tamaño de los botones */
    .boton-encriptar, .boton-desencriptar {
      width: 30%;
    }
  
    /* Ajusta el tamaño de la sección 1 */
    .seccion1 {
      width: 90%;
    }
  
    /* Ajusta el tamaño de la sección 2 */
    .seccion2 {
      width: 60%;
    }
  
    /* Ajusta el tamaño de la imagen */
    #imagen {
      width: 50%;
      height: auto;
    }
  
    /* Ajusta el tamaño del título */
    #texto {
      font-size: 20px;
    }
  
    /* Ajusta el tamaño de los párrafos */
    p {
      font-size: 15px;
    }
  
    /* Ajusta el tamaño del textarea del resultado */
    #resultado {
      width: 80%;
    }
  
    /* Ajusta el tamaño del botón de copiar */
    .boton-copiar {
      width: 40%;
    }
  
    /* Ajusta el tamaño del pie de página */
    #footer {
      font-size: 15px;
    }
  }
  
 
  @media (max-width: 480px) {
    /* reglas para pantallas de tamaño celular */
  
    /* Ajusta el tamaño del logo */
    #logo {
      width: 4%;
      height: auto;
    }
  
    /* Ajusta el tamaño del textarea */
    #area-texto {
      width: 90%;
    }
  
    /* Ajusta el tamaño de los botones */
    .boton-encriptar, .boton-desencriptar {
      width: 40%;
    }
  
    /* Ajusta el tamaño de la sección 1 */
    .seccion1 {
      width: 90%;
    }
  
    /* Ajusta la disposición de la sección 2 */
    .seccion2 {
      width: 90%;
      margin-right: 0;
    }
  
    /* Ajusta el tamaño de la imagen */
    #imagen {
      width: 30%;
      height: auto;
    }
  
    /* Ajusta el tamaño del título */
    #texto {
      font-size: 18px;
    }
  
    /* Ajusta el tamaño de los párrafos */
    p {
      font-size: 14px;
    }
  
    /* Ajusta el tamaño del textarea del resultado */
    #resultado {
      width: 90%;
    }
  
    /* Ajusta el tamaño del botón de copiar */
    .boton-copiar {
      width: 50%;
    }
  
    /* Ajusta el tamaño del pie de página */
    #footer {
      font-size: 14px;
    }
  }
  