*{
    margin: 0;
    padding: 0;
}
body{
    background: #F3F5FC;
}
header{
    width: 100%;
    height: 100px;
    /* background-color: black; */
}
#logo{
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}
main{
    width: 100%;
    height: 650px;
    /* background-color: rgb(68, 21, 21); */
    display: flex;
    justify-content: space-between;
}
section{
    width: 40%;
    height: 100%;
    /* background-color: green; */
}
.seccion1{
    width: 70%;
    margin-left: 100px;
}
#aviso{
  position: absolute;
  margin-top: 10px;
  margin-left: 260px;
  font-family: 'Roboto', sans-serif;
}
.area-texto{
    width: 60%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 25px;
    border: none;
    color: #0A3871;
    font-family: 'Roboto', sans-serif;
}
#area-texto{
    border-radius: 14px;
    margin-left: 10em;
    padding: 20px;
    outline: none;
    background-color: #F3F5FC;
}
.boton-encriptar, .boton-desencriptar{
    width: 20%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}
.botones{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
#aviso{
    margin-right: 15em;
    font-size: 15px;
    color: #0A3871;
}
#boton1{
    background-color: #0A3871;
    color: white;
    margin-right: 5em;
}
#boton1:hover{
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}
#boton2{
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}
#boton2:hover{
    background-color: #0A3871;
    color: white;
}
.seccion2{
    width: 20%;
    background: white;
    border-radius: 24px;
    margin-right: 200px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 5px 10px 1px #adadad;
}
.imagen{
    padding-top: 5em;
    box-sizing: border-box;
}
#imagen{
    margin-left: 20px;
    width: 90%;
    height: 90%;
}
.subtitulo{
    width: 100%;
    height: 20%;
    text-align: center;
}
.texto{
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: -50px;
}
#texto{
  font-family: 'Roboto', sans-serif;
}
#texto2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.resultado{
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}
#resultado{
    text-align: center;
    margin-top: -4em;
    width: 100%;
    height: 200%;
    font-size: 20px;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.copiar{
    margin-top: 12em;
    width: 100%;
    height: 20%;
}
.boton-copiar{
    width: 65%;
    height: 50px;
    font-size: 17px;
    border-radius: 14px;
    display: block;
    margin: auto;
    cursor: pointer;
}
#copiar{
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}
#copiar:hover{
    background-color: #0A3871;
    color: white;
}
footer{
    width: 100%;
    height: 64px;
    text-align: center;
}
#footer{
    padding-top: 2em;
    font-size: 15px;
    color: #0A3871;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 768px) {
  #logo {
    margin-left: 30px;
    margin-top: 50px;
    width: 4%;
  }
  .seccion1{
    margin-left: 0;
  }
  #area-texto {
    margin-left: 0;
    width: 100%;
  }
  #aviso {
    margin-left: 50px;
  }
  .botones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #boton1 {
    width: 40%;
    margin-right: auto;
  }
  #boton2{
    width: 40%;
    margin-left: auto;
  }
  .seccion2{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 250px;
    position: absolute;
    margin-top: 650px;
    margin-left: 34px;

  }
  .imagen{
    display: none;
    position: absolute;
    box-sizing: border-box;
  }
  #texto{
    margin-top: 80px;
    font-size: 25px;
    box-sizing: border-box;
  }
  #texto2{
    font-size: 15px;
    margin-top: 120px;
    box-sizing: border-box;
  }
  #resultado{
    width: 100%;
    height: auto;
    margin-top: 100px;
    box-sizing: border-box;
  }
  #copiar{
    position: absolute;
    width: 85%;
    height: 50px;
    margin-left: 55px;
    margin-top: -40px;
  }
  footer{
    position: absolute;
    margin-top: 250px;
  }
}


@media (max-width: 480px) {
  #logo {
    margin-left: 30px;
    margin-top: 50px;
    width: 4%;
  }
  .seccion1{
    color: #0A3871;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  #area-texto {
    color: #0A3871;
    margin-left: 0;
    width: 100%;
  }
  #aviso {
    width: 100%;
    margin-left: 50px;
    margin-top: 450px;
  }
  .botones{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 450px;
    width: 100%;
  }
  #boton1 {
    width: 90%;
    margin-right: 0, auto;
  }
  #boton2{
    width: 90%;
    margin-left: 0,auto;
  }
  .seccion2{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 85%;
    height: 30%;
    margin-top: 650px;
    margin-left: 34px;
  }
  .imagen{
    display: none;
    box-sizing: border-box;
  }
  #copiar{
    margin-left: 30px;
  }
  /* #texto{
    margin-top: 10px;
    font-size: 20px;

  }
  
  #resultado{
    width: 100%;
    height: auto;
    margin-top: -30px;
  }
  #copiar{
    width: 90%;
    height: 50px;
    margin-top: -25px;
    margin-left: 20px;
  }
  footer{
    margin-top: 250px;
  } */
}

